/****** BASIC CSS LOGIC ******/

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow: hidden;
}


/****** TEXTUAL CSS CLASSES ******/

.testdiv>p {
    margin-bottom: -10px;
}


/****** BUTTON ****/

#buttonSignIn {
    margin-top: 2em;
}

#logRegBtn {}


/****** LOGIN/REG MODAL ******/

.modal-content {
    margin-top: 50%;
}

label.checkbox.inline {
    margin-left: 20px;
}

#rememberme-0 {
    position: absolute;
}

p {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.blue {
    color: #337ab7;
}

.blue:hover {
    color: red;
}

.fa {
    color: #337ab7;
}

.fa-facebook-f {
    padding: 10px 12px 10px 12px;
    border: 1px solid #337ab7;
    border-radius: 50%;
}

.fa-facebook-f:hover {
    color: skyblue;
}

.fa-google-plus {
    padding: 10px 8px 10px 8px;
    border: 1px solid #337ab7;
    border-radius: 50%;
}

.fa-twitter {
    padding: 10px 8px 10px 8px;
    border: 1px solid #337ab7;
    border-radius: 50%;
}

.fa-twitter:hover {
    color: skyblue;
}

i {
    margin-left: 5px;
    margin-right: 5px;
}


/****** Footer ******/

.navbar-fixed-bottom {
    background-color: #000;
}

/***** Lessons *****/
.tab-pane{
  text-decoration-color: #000;
}

/*****  LESSON.HTML ***/

div.panel {
    border: 3px solid #000;
}

hr {
    color: skyblue;
}

span {
    font-weight: bold;
}

.glyphicon {
    color: red;
}
a#lessonComplete{
  color: red;
}
#lessonActive {
    font-weight: bold;
    text-decoration: underline;
    color: red;
}

.lessonInactive {
    opacity: 0.5;
}

#centeredText{
  text-align: center;
  text-decoration-style: solid;

}
.linkedButton a:link{
  color: white;
 text-decoration: none;
}
/*unit4 CSS custom */
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
}
.ch-info{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
	box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);
}

.ch-info .ch-info-back {
	-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	background: #000;
	opacity: 0;
}

.ch-img-1 {
	background-image: url(../imgs/GSD-Puppy2.jpg);
}

.ch-img-2 {
	background-image: url(../imgs/robot5.png);
}

.ch-img-3 {
	background-image: url(../imgs/right.jpg);
  height: 60px;
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	margin: 0 15px;
	padding: 60px 0 0 0;
	height: 110px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover .ch-info-front {
	-webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}

.ch-item:hover .ch-info-back {
	-webkit-transform: rotate3d(1,0,0,0deg);
	-moz-transform: rotate3d(1,0,0,0deg);
	-o-transform: rotate3d(1,0,0,0deg);
	-ms-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

/**** VOCAB.HTML ***/

.panel-body {
    border: 1px solid #fff;
}

.studDisabled {
    opacity: 0.5;
}


/****** Quiz *******/
.progress{
  margin-left: 2em;
}

/******Admin panel*******/

td.active{
  color: green;
  font-weight: bold;
}
.inactive{
  color: red;
  font-weight: bold;
}

.outsideDiv{
  z-index: 1;
  position: absolute;

}
.update-nag{
  display: inline-block;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  height: 40px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  margin-bottom: 10px;
}

.update-nag:hover{
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
}

.update-nag > .update-split{
  background: #337ab7;
  width: 33px;
  float: left;
  color: #fff!important;
  height: 100%;
  text-align: center;
}

.update-nag > .update-split > .glyphicon{
  position:relative;
  top: calc(50% - 9px)!important; /* 50% - 3/4 of icon height */
}
.update-nag > .update-split.update-success{
  background: #5cb85c!important;
}

.update-nag > .update-split.update-danger{
  background: #d9534f!important;
}

.update-nag > .update-split.update-info{
  background: #5bc0de!important;
}



.update-nag > .update-text{
  line-height: 19px;
  padding-top: 11px;
  padding-left: 45px;
  padding-right: 10px;
}

.update-nag > .update-text label{
    float:right;
    margin-left: 20px;
    cursor: pointer;
    color:#d9534f;
}

.update-nag > .update-text label:hover{
    color:#ce3c39;
}
i.glyphicon.glyphicon-refresh{
  color: #fff;
}
i.glyphicon.glyphicon-folder-open{
  color: white;
}
i.glyphicon.glyphicon-leaf{
  color: white;
}
i.glyphicon.glyphicon-warning-sign{
  color: white;
}

.alert{
  width: 50vw;
  border: 1px solid #000;
}
.Linkable{
  text-decoration: underline;
}
.unLinkable{
  text-decoration: underline;
  color: red;
}
/***** Media Queries **/

/* Strange sizes */
@media (min-height: 100px)   {
  body{
    overflow: scroll;
    margin-bottom: 20rem;
  }
}
/* Small screens like iphone/Android sceens*/

@media (max-width:480px) and (min-width:320px) {
    body {

        overflow: visible;
        margin-bottom: 1rem;
    }
    .container-fluid {
        margin-bottom: 173px;
    }
    .modal-content {
        margin-top: 15vh;
    }
    div#buttonSignIn.row {
        margin-top: 2em;
    }
    div.panel.panel-primary {
        margin-bottom: 200px;
    }
}


/* small screens like iphone/Android screens **Portiat** */

@media (min-height:320px) and (max-height: 769px) {
    body {
        overflow: visible;
        margin-bottom: 1rem;
    }
    .container-fluid {
        margin-bottom: 200px;
    }
    .modal-content {
        margin-top: 1vh;
    }
    div.panel.panel-primary {
        margin-bottom: 200px;
    }
}


/* Ipad screens */

@media (min-width:768px) and (max-width:979px) {
    body {
        overflow: scroll;
    }
    div#buttonSignIn.row {
      height: 2em;
    }
    div.panel.panel-primary {
        margin-bottom: 200px;
    }
}


/* Desktops & Larger Screens */

@media (min-width: 1200px) {
    body {
 overflow: visible;
    }
    div#buttonSignIn.row {
     height: 2em;
    }
}
