
<div class="container">
  <div class="row">
    <div class="col center">
      <h1 class="aboutMeH1">About me</h1>
      <p class="aboutMepTop">The 411 of the devildog in the 402</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6"><img src="../../assets/PRETTYJOSH.png" alt=""></div>
    <div class="col-6">

      <h4 class="aboutmeh4">Job Title</h4>
      <p class="aboutmep">Software Developer/Programmer/Web Developer</p>

      <h4 class="aboutmeh4">Name</h4>
      <p class="aboutmep">Joshua Burden</p>

      <h4 class="aboutmeh4">Born</h4>
      <p class="aboutmep">March 28, 1987</p>

      <h4 class="aboutmeh4">Address</h4>
      <p class="aboutmep">7812 Harney Street #4 <br>Omaha, NE 68114</p>

      <h4 class="aboutmeh4">Email Address</h4>
      <p class="aboutmep">Devildogdeveloper@gmail.com</p>
      <h4 class="aboutmeh4">Social Media Presence</h4>
      <span> facebook github twitter stackoverflow discord</span>
    </div>
  </div>

</div>
<div class="paddingspace"></div>
<div class="container-fluid bg-splatter">
  <div class="row">
    <div class="col center">
      <h1 class="aboutMeH12">What I do</h1>
      <p class="aboutMepTop">WHAT I AM GOOD AT</p>
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-4">
  <i class="fa fa-cog" aria-hidden="true"></i>
      <h4 class="whatIdoh4">Why Choose ME?</h4>
      <p class="textwhite">Being meticuliculously articulate is a suite I wear well. I'm driven by turning problems
        into solutions,
        and I love a good puzzle to solve.</p>
    </div>
    <div class="col-4">
      <i class="fa fa-laptop" aria-hidden="true"></i>
      <h4 class="whatIdoh4">What do I do?</h4>
      <p class="textwhite">I build, I test, I break, I rebuild until the job is done right. I'm constantly reinventing. I strive for
        perfection.</p>
    </div>
    <div class="col-4">
      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
      <h4 class="whatIdoh4">My Mission.</h4>
      <p class="textwhite">Building software and applications is not only a forte, it is a passion. I want my technology to be not
        only a game changer, I want a world where technology works for us, not the other way around.</p>
    </div>
  </div>
  </div>

  </div>
<div class="paddingspace"></div> <!-- space provided -->

<div class="container">
  <div class="row">
    <div class="col center">
      <h1 class="aboutMeH1">Hello There!</h1>
      <p class="aboutMepTop">Short story of who I am</p>
    </div>
    <div class="container">
    <div class="col-lg-4">
      <img src="https://via.placeholder.com/150" alt="">
    </div>
    <div class="col-lg-8">
      <p class="fancyText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt
        ut labore et dolore magna aliqua. Tellus orci ac auctor augue. Mus mauris vitae ultricies leo integer malesuada nunc vel. Pellentesque massa placerat duis ultricies lacus sed turpis. Dapibus ultrices in iaculis nunc. Convallis a cras semper auctor neque vitae. Malesuada proin libero nunc consequat interdum varius sit. Arcu bibendum at varius vel pharetra. Ut etiam sit amet nisl purus in. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Porttitor eget dolor morbi non arcu risus.</p>
    </div>
    </div>
    <p class="fancyText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus orci ac auctor augue. Mus mauris vitae ultricies leo integer malesuada nunc vel. Pellentesque massa placerat duis ultricies lacus sed turpis. Dapibus ultrices in iaculis nunc. Convallis a cras semper auctor neque vitae. Malesuada proin libero nunc consequat interdum varius sit. Arcu bibendum at varius vel pharetra. Ut etiam sit amet nisl purus in. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Porttitor eget dolor morbi non arcu risus.</p>
    <p class="fancyText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus orci ac auctor augue. Mus mauris vitae ultricies leo integer malesuada nunc vel. Pellentesque massa placerat duis ultricies lacus sed turpis. Dapibus ultrices in iaculis nunc. Convallis a cras semper auctor neque vitae. Malesuada proin libero nunc consequat interdum varius sit. Arcu bibendum at varius vel pharetra. Ut etiam sit amet nisl purus in. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Porttitor eget dolor morbi non arcu risus.</p>
    <p class="fancyText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus orci ac auctor augue. Mus mauris vitae ultricies leo integer malesuada nunc vel. Pellentesque massa placerat duis ultricies lacus sed turpis. Dapibus ultrices in iaculis nunc. Convallis a cras semper auctor neque vitae. Malesuada proin libero nunc consequat interdum varius sit. Arcu bibendum at varius vel pharetra. Ut etiam sit amet nisl purus in. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Porttitor eget dolor morbi non arcu risus.</p>
    <p class="fancyText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus orci ac auctor augue. Mus mauris vitae ultricies leo integer malesuada nunc vel. Pellentesque massa placerat duis ultricies lacus sed turpis. Dapibus ultrices in iaculis nunc. Convallis a cras semper auctor neque vitae. Malesuada proin libero nunc consequat interdum varius sit. Arcu bibendum at varius vel pharetra. Ut etiam sit amet nisl purus in. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Porttitor eget dolor morbi non arcu risus.</p>
    <p class="fancyText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus orci ac auctor augue. Mus mauris vitae ultricies leo integer malesuada nunc vel. Pellentesque massa placerat duis ultricies lacus sed turpis. Dapibus ultrices in iaculis nunc. Convallis a cras semper auctor neque vitae. Malesuada proin libero nunc consequat interdum varius sit. Arcu bibendum at varius vel pharetra. Ut etiam sit amet nisl purus in. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Porttitor eget dolor morbi non arcu risus.</p>
    </div>
  </div>

  <div class="paddingspace"></div> <!-- space provided -->

<!--  I honestly don't like this section-->
<!--  <div class="counter">-->
<!--  <div class="row">-->
<!--    <div class="col-3"><h4 class="whatIdoh4">clients</h4><br><p class="textwhite">Clients</p></div>-->
<!--    <div class="col-3"><h4 class="whatIdoh4">Github Repos</h4></div>-->
<!--    <div class="col-3"><h4 class="whatIdoh4">Hours</h4></div>-->
<!--    <div class="col-3"><h4 class="whatIdoh4">Lines Of Code</h4></div>-->
<!--  </div>-->
<!--  </div>-->





