<nav>
  <img src="https://via.placeholder.com/150" alt="">
  <ul>
    <li>
      <a routerLink=""><i class="fa fa-home">Home</i></a>
    </li>
    <li><a routerLink="About-Me"><i class="fa fa-user">About Me</i></a></li>
    <li><a routerLink="Milestones"><i class="fa fa-road">Milestones</i></a></li>
    <li><a routerLink="Technology-Stack"><i class="fa ">Technology Stack</i></a></li>
    <li><a routerLink="Projects"><i class="fa ">Projects</i></a></li>
    <li><a routerLink="Social-Media"><i class="fa ">Social Media</i></a></li>
<!--    <li><a routerLink="Upcoming-Projects"><i class="fa ">Upcoming Projects</i></a></li>-->
    <li><a routerLink="Blog"><i class="fa ">Blog</i></a></li>
    <li><a routerLink="Contact-Me"><i class="fa ">Contact Me</i></a></li>
    <li><a routerLink="Login"><i class="fa ">Login</i></a></li>

  </ul>
</nav>
