.bg{
  background-image: url("../../assets/maybe.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner{
  margin: 0 auto;
  text-align: center;
  padding-top: 6em;

  h2{
    color: #ffffff;
    font-size: 3em;
    letter-spacing: 6px;
  }
  span{
    color: deepskyblue;
    letter-spacing: 4px;
    font-size: 0.9em;
  }
  img{
    margin: 0 auto;
    text-align: center;
    border: 7px solid deepskyblue;
  }

}



@media(max-width: 1440px){
  font-size: 3em;
  letter-spacing: 6px;
}
